<!DOCTYPE html>
<html>
<head>
    <title>Urgent: Wire Transfer Required</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>I need you to process an urgent wire transfer of {{amount}} to:</p>
    <ul>
        <li>Account: {{account}}</li>
        <li>Routing: {{routing}}</li>
        <li>Bank: {{bank_name}}</li>
    </ul>
    <p>This is time-sensitive for an important acquisition. Please confirm when completed.</p>
    <p>Best regards,<br>{{spoofed_sender}}</p>
</body>
</html>
